
<div class="wrapper fadeInDown">
        <div id="formContent">
      
      
            <div class="fadeIn first">
            </div>
              <form [formGroup]="createForm" autocomplete="off">
                <input type="text" autocomplete="off" #email id="email" formControlName="email" class="fadeIn second mt-5" name="email" placeholder="email"  oninput="this.value = this.value.toLowerCase()">
                <input type="password" autocomplete="off" #password id="password" formControlName="password" class="fadeIn third" name="password" placeholder="password">
                <input type="text" autocomplete="off" class="fadeIn third" placeholder="username" name="username" formControlName="username" #username/>
                <input type="submit" class="fadeIn fourth" value="Valider" (click)="ValidForm(email.value, password.value, username.value)">
                <p class="error-txt">{{errorMsg}}</p>
              </form>
              <div id="formFooter">
                <a class="underlineHover" (click)="toLoginPage()">Login</a>
              </div>
          
        </div>
      </div>
      