<div class="wrapper fadeInDown">
  <div id="formContent">


      <div class="fadeIn first">
      </div>
        <form [formGroup]="createForm" >
          <input type="text" #username id="username" formControlName="username" class="fadeIn second mt-5" name="username" placeholder="username"  oninput="this.value = this.value.toLowerCase()">
          <input type="password" #password id="password" formControlName="password" class="fadeIn third" name="password" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In" (click)="signIn(username.value, password.value)">

        </form>
        <p class="error-txt" *ngIf="error"> {{error}} </p>
        <div id="formFooter">
          <a class="underlineHover" (click)="signUp()">Register</a>
        </div>
    
  </div>
</div>
