<div class="wrapper fadeInDown">
  <div id="formContent">


      <div class="fadeIn first">
          <img style="max-height:50px;max-width:50px;"src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Logo_TV_2015.png/280px-Logo_TV_2015.png" id="icon" alt="User Icon" />
      </div>
        <form [formGroup]="createForm" >
          <input type="text" #email id="email" formControlName="email" class="fadeIn second" name="email" placeholder="email"  oninput="this.value = this.value.toLowerCase()">
          <input type="password" #password id="password" formControlName="password" class="fadeIn third" name="password" placeholder="password">
          <input type="submit" class="fadeIn fourth" value="Log In" (click)="signIn(email.value, password.value)">

        </form>
        <p class="error-txt" *ngIf="error"> {{error}} </p>
        <div id="formFooter">
          <a class="underlineHover" (click)="signUp()">Register</a>
        </div>
    
  </div>
</div>
