<div>
  <br>
    <section>
      <h3> Login </h3>
      <button mat-raised-button color="primary" (click)="signUp()"> Register </button>

      </section>
    <br>
    <form [formGroup]="createForm" class="create-form">
        <input  placeholder="Mail" formControlName="login" #login>
        <input  placeholder="Password" formControlName="password" #password>
      </form>
      <br><br>
      <button type="submit" mat-raised-button color="primary" (click)="signIn(login.value, password.value)"> Valider </button>
</div>
