<nav class="navbar navbar-dark bg-dark mb-5">
        <a class="navbar-brand" href="/browser"> MemeThis 4 ME</a>
        <div class="navbar-expand mr-auto">
          <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="'/user/' + userId" >{{username}}</a>
            
          </div>
        </div>
        <div *ngIf="username" class="nav navbar-right">
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="this.formModal.show();" mdbWavesEffect>Upload</button>
                <button class="btn btn-danger nav-item nav-link text-white btn-circle float-right" (click)="this.triggerNotification()"> <H5 *ngIf="newNotifNb >= 1" > {{newNotifNb}} </H5><i *ngIf="newNotifNb < 1" class="fas fa-bell"></i></button>       
                <button class="btn btn-danger nav-item nav-link text-white btn-circle float-right" (click)="this.logOut()"><i class="fas fa-power-off"></i></button>
        </div>
      </nav>

      <div  *ngIf="notificationTrigger" class="modal-body col-md-3 float-right text-center text-white" style="position:absolute;top:6em;right:0;">
            <div class="col-md-12 card text-center bg-dark">
                    <div class="card-header text-left float-left bg-dark text-white" style="padding : 18px 20px 18px 20px;">
                            Notifications :  
                    </div>
                    <div *ngFor="let item of notifications" class="card-body notification text-left ">

                           <a [ngClass]=" item.clicked ? '' : 'notification-new' " (click)="clickNotification(item._id,item.seen,item.itemTargeted)" >{{item.relatable}}{{item.text}} </a>
                    <hr/>
                    </div>
            </div>
        </div>




      <div mdbModal #form="mdb-modal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
              <!--Content-->
              <div class="modal-content">
      
                  <!--Header-->
                  <div class="modal-header">
                      Describe your Post
                  </div>
                  <!--Body-->
                  <div class="modal-body text-center mb-1">
                      <div class="md-form ml-0 mr-0">
                          <form class="form-group" >
                              <input autocomplete="off" type="text" #title id="title" class="fadeIn second" name="title" placeholder="Write a title">
                              <input autocomplete="off" type="text" #tag id="tag"  class="fadeIn second" name="tag" placeholder="Choose One Tag"  oninput="this.value = this.value.toLowerCase()">
                              <input type="file"  (change)="onFileChange($event)" #content id="content" class="fadeIn second" name="content" placeholder="content">
                          </form>
                            <br>
                            <button type="submit" class="btn btn-info" (click)="uploadPost(this.title.value , this.tag.value)" > Valider </button>       
                            <p class="error-txt"> {{errorMsg}} </p>
                      </div>
                  </div>
      
              </div>
              <!--/.Content-->
          </div>
      </div>