@import './../../../variables.scss';

form {
    width: 30%;
}


.margin-left {
    margin-left: 1em;
}

.space-top {
    margin-top: 1em;
  }

 canvas { border: 1px solid $black; width: 100%;}

 .error-txt {
    margin-top: 10px;
    color: $error;
  }

  .row-centered {text-align:center;}
.col-centered { display:inline-block; float:none; margin-right:-4px;}