
<div class="col-md-6 card text-center bg-dark">
    <div class="card-header card-nobot bg-dark text-white">
        <p class="title">{{post?.title}} </p>
    </div>
    <div class="card-body">
<app-canvas *ngIf="postContent" (messageEvent)="receiveMessage($event)" [postContent]="postContent" [postId]="postId"></app-canvas>
</div>
</div>
<br>
<hr />
<br>
<div  *ngFor="let item of memes" >
    <div class="col-md-6 card text-center bg-dark">
        <div class="card-header bg-dark text-white">
          <a>{{item.title}} </a>
        </div>
        <div class="card-body">
          <img class="img-responsive" [src] = "'http://192.168.79.29:8887' + item.content">
        </div>
        <div class="card-footer bg-dark text-white row">
          <div class="col-md-6 card double-btn-footer text-center bg-dark">
            <a class="double-btn-footer" *ngIf="item.isLiked" (click)="dislikeMeme(item._id, item.postId)"> {{item.likes}}  <i class="far liked fa-arrow-alt-circle-up"></i>     </a>
            <a class="double-btn-footer" *ngIf="!item.isLiked" (click)="newLikeMeme(item._id, item.postId)"> {{item.likes}}  <i class="far fa-arrow-alt-circle-up"></i>     </a>
          </div>
          <div class="col-md-6 card  text-center bg-dark">
            <a class="double-btn-footer" routerLink="/meme/{{item._id}}" >  {{item.comments}}  <i class="fas fa-comment"></i> </a>
          </div>
        </div>
      </div>
      <hr/>
     </div>
