

.img-responsive {
    max-width: 400px;
    max-height: 600px;
    width: 100%;
    margin: 0 auto;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

a {
    color: white;
    font-size: 20px;
}

a:hover{
    color: #0099ff !important;
    text-decoration: none;
    cursor : pointer;
}


.title {
  font-size: 20px;
  cursor : pointer;
}

.title:hover {
  color: #0099ff;
}

.card-nobot {
  padding-bottom: 0;
}

.card-footer{
  border-top: none;
}

.liked{
  color: #0099ff !important;
}

.double-btn-footer {
  line-height: 3em;
}

.double-btn-footer:hover {
  background-color: #343a43;
}

