 
  
@import './../../../variables.scss';

.img-responsive {
  max-width: 400px;
  max-height: 600px;
    width: 100%;
    margin: 0 auto;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

a {
    color: $textColor ;
    font-size: 20px;
}

a:hover{
    color: $highLight;
    text-decoration: none;
}


.title {
  font-size: 20px;
  cursor : pointer;
}

.title:hover {
  color: $highLight
}

.card-header {
  padding-bottom: 0px;
  border-width: 2px;
}
.double-btn-footer {
  line-height: 3em;
  
}

.double-btn-footer:hover {
  background-color: $cardBackground;
  
}


.active {
  color : $highLight !important;
  background-color: $activeTab;
}


a {
  cursor : pointer; 
  color: $textColor;
  text-decoration: none;
}

a:hover{
  color : $highLight !important;
}

div {
  border-width: 2px;
}