 
  

.img-responsive {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    margin: 0 auto;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

a {
    color: white;
    font-size: 20px;
}

a:hover{
    color: grey;
    text-decoration: none;
}


.title {
  font-size: 20px;
  cursor : pointer;
}

.title:hover {
  color: #0099ff
}

.card-header {
  padding-bottom: 0px;
}
